.canvasGrid {
    height: 32px;
    font-family: '"THEME:FONT"';
    font-size: 16px;
}

.canvasGrid th {
    font-weight: normal;
}

.canvasGrid td:nth-child(2),
.canvasGrid td:nth-child(3) {
    text-align: center;
}

.canvasGrid td:nth-child(5) {
    width: 150px;
}

.google-visualization-table-table .canvasGrid th {
    border: none;
    background: "THEME:PANEL-COLOR";
    color: "THEME:TEXT-COLOR";
}

.google-visualization-table-table .canvasGrid td {
    border: none;
    background: "THEME:BACKGROUND";
    color: "THEME:TEXT-COLOR";
    margin-bottom: 8px;
}

#canvas table {
    border-spacing: 0 8px;
    background-color: transparent;
}