.canvasGrid {
    height: 32px;
    font-family: "{THEME:FONT}";
    font-size: 16px;
}

.canvasGrid th {
    font-weight: normal;
}

.canvasGrid td,
.canvasGrid th {
    color: white;
    background-color: #1F1F24;
    border: none;
}

.canvasGrid td:nth-child(2),
.canvasGrid td:nth-child(3) {
    text-align: center;
}

.canvasGrid td:nth-child(5) {
    width: 150px;
}

.google-visualization-table-table .canvasGrid th {
    border: none;
    background: #1F1F24;
}

.google-visualization-table-table .canvasGrid td {
    border: none;
    background: #121212;
    margin-bottom: 8px;
}

#canvas table{
    border-spacing: 0 8px;
    background-color: transparent;
}