.card {
    height: 140px;
}

.card td {
    padding: 3px 4px;
}

.card tr:nth-child(1) td:nth-child(1) {
    width: 140px;
}

.card tr:nth-child(1) td:nth-child(1) {
    font-size: 18px;
    vertical-align: bottom;
}

.card tr:nth-child(2) td:nth-child(1) {
    font-size: 28px;
    line-height: 28px;
    color: #49A471;
    vertical-align: top;
}

.card tr:nth-child(1) td:nth-child(2) {
    width: 48px;
    text-align: center;
    vertical-align: middle;
}