.horbar .bar {
    height: 12px;
    border-radius: 7px;
    background: #49a471;
    background: -moz-linear-gradient(left, #49a471 0%, #eda518 50%, #ec5448 100%);
    background: -webkit-linear-gradient(left, #49a471 0%, #eda518 50%, #ec5448 100%);
    background: linear-gradient(to right, #49a471 0%, #eda518 50%, #ec5448 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49a471', endColorstr='#ec5448', GradientType=1);
}

.horbar .tag {
    background-color: "THEME:TAG-COLOR";
    width: 100px;
    font-size: 12px;
    text-align: center;
    color: "THEME:TEXT-COLOR";
    border-radius: 3px;
    float: left;
    position: absolute;
    border-radius: 3px;
    margin: 10px;
}

.horbar .tag span {
    font-size: 18px;
}

.horbar .tag::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
    left: 40%;
    top: -20px;
    border-bottom: 10px solid "THEME:TAG-COLOR";
}