.tableGrid {
    font-family: '"THEME:FONT"';
    font-size: 20px;
    padding: 8px;
}

.tableGrid th {
    font-weight: normal;
}

.tableGrid td,
.tableGrid th {
    color: "THEME:TEXT-COLOR";
    background-color: "THEME:PANEL-COLOR";
    border: none;
}

.tableGrid span.tiny {
    font-size: 16px;
}

.tableGrid .google-visualization-table.gradient {
    background-image: none;
}

.google-visualization-table-table .tableGrid td,
.google-visualization-table-table .tableGrid th {
    border: none;
    background: "THEME:PANEL-COLOR";
}